node_modules
dist
.venv
venv
.env
.env.local
.env.*.local
.git
.gitignore
.DS_Store
*.log
npm-debug.log
.eslintcache
.prettierignore
coverage
.next
build
.cache
*.md
README*
LICENSE
.editorconfig
.vscode
.idea
